@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
	min-height: 100vh;
}

/* main {
	min-height: 100%;
} */

.dot.A {
	fill: #440154ff;
}

.dot.B {
	fill: #21908dff;
}

.dot.C {
	fill: #fde725ff;
}

.bar {
	fill-opacity: 0.7;
}

.bar.A {
	fill: purple;
}

.bar.B {
	fill: cyan;
}

.bar.C {
	fill: green;
}

.axis-label {
	font-size: 12px;
	font-weight: bold;
	color: white !important;
}

.tooltip {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 5px;
	font-size: 12px;
}
