@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
	min-height: 100vh;
}

/* main {
	min-height: 100%;
} */

.dot.A {
	fill: #440154ff;
}

.dot.B {
	fill: #21908dff;
}

.dot.C {
	fill: #fde725ff;
}
