@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	display: none;
}

.dot.A {
	fill: #440154ff;
}

.dot.B {
	fill: #21908dff;
}

.dot.C {
	fill: #fde725ff;
}

.bar {
	fill-opacity: 0.7;
}

.bar.A {
	fill: purple;
}

.bar.B {
	fill: cyan;
}

.bar.C {
	fill: green;
}

.axis-label {
	font-size: 12px;
	font-weight: bold;
	color: white !important;
}

.tooltip {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 5px;
	font-size: 12px;
}

.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

pre {
	text-indent: -1.2em;
}

th,
td {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

@media only screen and (max-width: 667px) {
	.group-query {
		display: none;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1285px) {
	.group-query {
		display: none;
	}
}
